@keyframes ticker {
    0% { transform: translateX(-100%); }    /* Inicio da transição */
    100% { transform: translateX(0); }      /* Fim da transição */
  }
  
  .animate-ticker {
    padding-left: 100%;
    animation: ticker 15s linear infinite;
  }